@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0;
}

html, body{
    background-color: rgb(133, 133, 133);
}

header h1{
    text-align: center;
    background-color: rgb(58, 58, 58);
    font-size: 2.5em;
    color: rgb(247, 247, 247);
    padding: 30px;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.267);
}

menu{
    display: block;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.267);
}

menu ul{
    padding: 10px;
    font-size: 1.3em;
    list-style-type: none;
    text-align: center;
}

menu li{
    background-color: grey;
    margin-top: 5px;
}

menu a{
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(61, 61, 61);
    text-align: center;
}

menu a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

main{
    padding: 15px;
}

article{
    text-align: center;
    width: 50vw;
    margin: auto;
    box-shadow: 5px 5px 5px 5px rgba(58, 58, 58, 0.089);
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

article h2{
    margin-top: 5px;
    margin-bottom: 10px;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.267);
}




